<html>
<head>
	<title>You Have Won!</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
<h1>Conglaturation, {{session['name']}}!</h1> 
<h2>You have just finished a great game.</h2>
<h2>And prooved the justice of our culture!</h2>
<h2>Now go rest our heroes!</h2>

<iframe width="420" height="315" src="https://www.youtube.com/embed/4ZLr1SG8Ig4?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

<p>Want to play again?</p>
<p><a href="/">Click here!</a></p>
</body>
</html>
